<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Livestock Health Guardian{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Livestock Health Guardian</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/predict">Predict Disease</a></li>
                <li><a href="/symptom_checker">Symptom Checker</a></li>
                <li><a href="/advice">Advice & Resources</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>